   DATABASE_PROVIDER = postgresql
   DATABASE_URL = psql 'postgresql://neondb_owner:npg_OjC1HNtFqJf3@ep-autumn-dust-aclajhfy-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
   DATABASE_CONNECTION_URI = psql 'postgresql://neondb_owner:npg_OjC1HNtFqJf3@ep-autumn-dust-aclajhfy-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'e
   EVOLUTION_API_KEY = minha-chave-api-fotografo
  ட EVOLUTION_API_PORT = ${PORT}
